.Navbar{
    font-family: PolySans Neutral;
    width: 100%;
}

.navbar-content{
    padding: 10px 20px;
    max-width: 1064px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.logo-box, .link-box{
    padding: 2% 0;
}

.logo-box{
    display: flex;
    color: white;
    align-items: center;
    font-size: var(--font-size-lg);
    gap: 5px;
    transition: 0.2s;
}

.logo-box:hover{
    cursor: pointer;
}

.logo-box img{
    width: 30px;
    height: 30px;
}


.link-box{
    display: flex;
    gap: 20px;
    border-right: 1px solid #C8C8C8;
}

.link-box a{
    text-decoration: none;
}

.link-con, .logout-btn{
    display: flex;
    align-items: center;
}

.logout-btn img{
    height: 28px;
    width: 28px;
    margin-left: 10px;
}

.logout-btn:hover{
    cursor: pointer;
}

.right-con{
    font-size: var(--font-size-lg);
    display: flex;
    align-items: center;
    color: #C8C8C8;
}

.hide {
    display: none;
}

.logout {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 450px;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background:
    linear-gradient(rgb(32, 31, 31) 0 0) padding-box,
    linear-gradient(to right, #00939c, #00ffa8) border-box;
    border: 2px solid transparent;
    border-radius: 10px;
}

.logout >p {
    color: azure;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
    font-family: PolySans Bulky;
    font-size: 24px;
    text-align: center;
    color: #fff;
    padding-top: 30px;
}

.logout >div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 25px;
}

.log-out_button {
    align-items: center;
    border-radius: 8px !important;
    color:#00ffa8;
    font-size: 16px;
    width: 105px;
    height: 40px;
    background:
    linear-gradient(rgb(32,31,31) 0 0) padding-box,    
    linear-gradient(to right, #00939c, #00ffa8) border-box;
    border: 1.5px solid transparent;
    border-radius: 3px;
    display: inline-block;
    font-weight: 750;
    word-spacing: 0px;
}

.cancel_button {
    border-radius: 8px;
    border: solid 1.5px #999;
    font-size: 16px;
    width: 105px;
    color: #999;
    height: 40px;
    background-color: rgb(32, 31, 31);
    font-weight: 600;
}

/* Ipad */

@media screen and (max-width: 460px) {
    .logout{
       width: 280px;
       height: 150px;
    }

    .logout >p{
        font-size: 16px;
    }

    .cancel_button,.log-out_button {
        font-size: 10px;
        width: 75px;
        height: 25px;
        border-radius: 5px;
    }
}